h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
}

h1{
    font-weight: bold;
}
.mat-card {
    margin: 1%;
    background-color:rgb(147, 125, 228);
    align-items: center;
}
.content {
    text-align: center;
}
.upload:hover {
    background-image: linear-gradient(to right, rgb(240, 101, 101) ,transparent); 
}
.upload {
    background-color: rgb(96, 65, 209);
    color: white;
}
.mat-icon:hover{
    cursor: pointer;
}
.mat-icon{
    margin: 1px;
    color: white;
}